<%= form_with model: @fit_auditor, class: "form-group", remote: true do |f| %>
  <div class = "row">
    <div class="col-xl">
      <%= f.label :old_fitting, "Old Fit EFT" %>
      <%= f.text_area :old_fitting, class: "form-control"%>
    </div>

    <div class="col-xl">
      <%= f.label :new_fitting, "New Fit EFT" %>
      <%= f.text_area :new_fitting, class: "form-control"%>
    </div>
  </div>

  <button type="submit" class="btn btn-primary btn-lg">Submit</button>
<% end %>


