<%= form_with class: "form-group" do |f| %>
  <div class = "row">
    <div class="col-xl">
      <%= f.label :old_fitting, "Old Fit:" %>
      <%= f.text_area :old_fitting, class: "form-control"%>
    </div>

    <div class="col-xl">
      <%= f.label :new_fitting, "New Fit:" %>
      <%= f.text_area :new_fitting, class: "form-control" %>
    </div>
  </div>

  <%= submit_tag("Audit") %>
<% end %>


